{% extends 'base.html.twig' %}

{% block title %}Admin Liste Produits{% endblock %}

{% block body %}

<div class="container">
    <h1>Gestion des membres</h1>
{#    <a href="#" class="btn btn-info" >Ajouter un produit</a>#}
    <div class="row">
        <table class="table table-bordered table-dark table-responsive-sm">
            <thead style="text-align: center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Image</th>
                    <th scope="col">Taille</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Marque</th>
                    <th scope="col" colspan="3" >Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.username }}</td>
                    <td>{{ u.lastname }}...</td>
                    <td>{{ u.firstname }}</td>
                    <td>{{ u.email}}</td>
{#                    <td>{{ u.birthday }}</td>#}
                    <td>{{ u.address }}</td>
                    <td>{{ u.city }}</td>
{#                    <td><a href="{{ path('admin_product_update', {id: p.id}) }}" class="btn btn-success">Modifier</a> </td>#}
{#                    <td><a href="{{ path('admin_product_delete', {id: p.id}) }}" class="btn btn-danger">Supprimer</a></td>#}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}
