<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="{{ asset('build/app.js') }}"></script>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
{#        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
{#        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>


        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#"><img src="{{ asset('photos/logo.jpg') }}" height="30px"  class="d-inline-block align-top"  width="30px" style="margin-right: 30px">SNEAKERS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">Accueil<span class="sr-only">(current)</span></a>
                        </li>
                        {% if app.user %}
                            <!-- menu membre connecte -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user"></i> {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown1">
                                    <a href="" class="dropdown-item">Profil</a>
                                    <a href="" class="dropdown-item">Commandes</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{{ path('logout') }}" class="dropdown-item">Déconnexion</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                            </li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs"></i> Gestion de la boutique
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown2">
                                    <a href="{{ path('admin_product') }}" class="dropdown-item">Gestion des produits</a>
                                    <a href="" class="dropdown-item">Gestion des membres</a>
                                    <a href="" class="dropdown-item">Gestion des commandes</a>
                                </div>
                            </li>
                        {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('cart') }}">
                                    <i class="fa fa-shopping-cart"></i> Panier
                                </a>
                            </li>

{#                        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link" href="{{ path('login') }}">Connexion</a>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link" href="{{ path('register') }}">Inscription</a>#}
{#                            </li>#}
{#                         {% else %}#}
{#                             <li class="nav-item">#}
{#                                 <a class="nav-link" href="{{ path('logout') }}">Deconnexion</a>#}
{#                             </li>#}
{#                        {% endif %}#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('cart') }}">Panier</a>#}
{#                        </li>#}
{#                        {% if is_granted("ROLE_ADMIN") %}#}
{#                        <li class="nav-item dropdown">#}
{#                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                Admin#}
{#                            </a>#}
{#                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                                <a class="dropdown-item" href="{{ path('admin_product') }}">Liste des produits</a>#}
{#                                <a class="dropdown-item" href="{{ path('admin_product_add') }}">Ajouter un produit</a>#}
{#                                <div class="dropdown-divider"></div>#}
{#                                <a class="dropdown-item" href="#">Something else here</a>#}
{#                            </div>#}
{#                        </li>#}
{#                        {% else %}#}
{#                        {% endif %}#}
                    </ul>


                    <form action="{{ path('recherche') }}" class="form-inline my-2 my-lg-0" method="get">
                        <input class="form-control mr-sm-2" type="text" placeholder="Recherche" value="" name="s">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                    </form>

                </div>
            </nav>
        {% endblock %}

{#{% block header %}#}
{#    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">#}
{#        <h1 class="h2"><a class="navbar-brand" href=""><img src="{{ asset('photos/logo.jpg') }}" alt="logo" width="30px"></a></h1>#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"#}
{#                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarCollapse">#}
{#            <ul class="navbar-nav mr-auto">#}

{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ path('home') }}">Boutique</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">A propos</a>#}
{#                </li>#}

{#                {% if app.user %}#}

{#                    <!-- menu membre connecte -->#}
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            <i class="fa fa-user"></i> Username#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="dropdown1">#}
{#                            <a href="" class="dropdown-item">Profil</a>#}
{#                            <a href="" class="dropdown-item">Commandes</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a href="" class="dropdown-item">Déconnexion</a>#}
{#                        </div>#}
{#                    </li>#}
{#                {% else %}#}


{#                    <li class="nav-item ">#}
{#                        <a class="nav-link" href="{{ path('login') }}">Connexion</a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="nav-link" href="{{ path('register') }}">Inscription</a>#}
{#                    </li>#}
{#                {% endif %}#}


{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        <i class="fa fa-cogs"></i> Gestion de la boutique#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="dropdown2">#}
{#                        #}{#                    <a href="{{ path('admin_product') }}" class="dropdown-item">Gestion des produits</a>#}
{#                        <a href="#" class="dropdown-item">Gestion des produits</a>#}
{#                        <a href="" class="dropdown-item">Gestion des membres</a>#}
{#                        <a href="" class="dropdown-item">Gestion des commandes</a>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="">#}
{#                        <i class="fa fa-shopping-cart"></i> Panier#}
{#                    </a>#}
{#                </li>#}

{#            </ul>#}
{#            #}{#        2 autres methodes pour le faire #}
{#            #}{#        /recherche /   ->> post "adidas"#}
{#            #}{#        /recherche/adidas --> {param} adidas#}
{#            #}{#        ou la vrai methode GET : #}
{#            <form action="{{ path('recherche') }}" method="get" class="form-inline mt-2 mt-md-0">#}
{#                <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="recherche" name="s" value="">#}
{#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>#}
{#            </form>#}
{#        </div>#}
{#    </nav>#}
{#{% endblock %}#}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message|raw }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message|raw }}</div>
        {% endfor %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Boutique Sneakers 2020<br>Realisé avec Symfony 4.4</p>
    </div>
    <!-- /.container -->
</footer>
    </body>
</html>
