{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<div class="container">
    <br>
<div class="row">
    <table class="table table-bordered table-primary">
        <thead>
        <tr>
            <th colspan="6">Panier</th>
        </tr>
        <tr>
            <th>Photo</th>
            <th>Titre</th>
            <th>Prix Unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% set totalPanier = 0 %}
            {% for key, item in app.session.get('panier')%}
            <tr>
                <td><img src="{{ asset('/photos/' ~ item.product.image) }}" height="50px" width="50px" style="margin-right: 30px"></td>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.price | number_format(2, ',', ' ') }}€</td>
                <td>{{ item.quantity}}</td>
                {% set totalProduct = item.product.price * item.quantity %}
                <td>{{ totalProduct | number_format(2, ',', ' ') }}€</td>
                <td><a href="{{  path('cart_item_delete', {'key'
                        : key}) }}"><i class='fa fa-trash'></i></a></td>
            </tr>
            {% set totalPanier = totalPanier + totalProduct %}
            {% endfor %}
            <tr>
                <td colspan="4">Total Panier</td>
                <td>{{  totalPanier | number_format(2, ',', ' ') }}€</td>
                <td><a href="{{ path('cart_delete') }}">Vider le panier</a></td>
            </tr>
            <tr>
                <td colspan="6"><a href="#">Continuer le panier et passez a la suite</a></td>
            </tr>
        </tbody>

    </table>
</div>
</div>


{% endblock %}
